---
layout: job_page
title: "Support Management"
---

## Support Management

Like other Managers, Support Managers at GitLab see the team as their product. While they know how to communicate with customers their time is spent hiring a world-class team and putting them in the best position to succeed. They own the customer support experience and are always looking to improve productivity. They must also coordinate across departments to accomplish collaborative goals.

### Services Support Manager

- Hire a world class team of Support Specialists who are focused on delivering world class Customer support
- Help Services Support Specialists level up in their skills and expertise
- Build efficient process to handle volume at scale
- Hold Regular 1:1s with all Members on their team
- Exquisite communication: Regularly achieve consensus amongst their team
- Train Services Support Specialists to screen applicants and conduct interviews
- Improve the Customer Experience in measurable and repeatable ways
- Create a sense of psychological safety on their team
 

### Support Engineering Manager

- Hire a world class team of Support Engineers who are focused on delivering world class Technical support
- Help Support Engineers level up in their skills and experience
- Drive team members to be self-sufficient
- Build processes that enable team members to collaborate and execute
- Hold Regular 1:1s with all Members on their team
- Create a sense of psychological safety on your team
- Exquisite communication: Regularly achieve consensus amongst their team
- Train Support Engineers to screen applicants and conduct technical interviews 
- Improve the Customer Experience in measurable and repeatable ways

### Director of Support

The Director of Support role extends the Support Engineering Manager Role

- Hire a world class team of managers and Support Engineers to work on their teams
- Help their managers and developers grow their skills and experience
- Manage multiple teams and projects
- Hold regular skip-level 1:1's with all members of their team
- Create a sense of psychological safety on their teams
- Drive technical and process improvements
- Draft and Report quarterly OKRs
- Own the support experience across all products
- Exquisite communication: Regularly achieve consensus amongst departments
- Represent the company publicly at conferences


<%= partial "includes/apply_and_about" %>
