.page-container.customer-stories
  .container
    .row
      .col-md-12
        .stories-table
          .row
            .col-md-4
              %a{ href: '/customers/uw/'}
                .story-card
                  .cover{ style: "background-image: url('/images/blogimages/uw-case-study-image.png')" }
                  .title
                    The University of Washington gains control and flexibility to easily manage 10,000+ projects.
            .col-md-4
              %a{ href: '/customers/cncf/'}
                .story-card
                  .cover{ style: "background-image: url('/images/blogimages/cncf-case-study-image.png')" }
                  .title
                    The Cloud Native Computing Foundation eliminates complexity with a unified CI/CD system
            .col-md-4
              %a{ href: '/2017/06/07/continous-integration-ticketmaster/'}
                .story-card
                  .cover{ style: "background-image: url('/images/blogimages/tm-cover-image-small.jpg')" }
                  .title
                    How GitLab CI Supported Ticketmaster's Ramp Up to Weekly Mobile Releases
          .row
            .col-md-4
              %a{ href: '/2016/11/23/gitlab-adoption-growing-at-cern/' }
                .story-card
                  .cover{ style: "background-image: url('/images/blogimages/cern.jpg')" }
                  .title
                    Customer Story: GitLab adoption growing at CERN
            .col-md-4
              %a{ href: '/2016/12/05/why-vaadin-chose-gitlab/' }
                .story-card
                  .cover{ style: "background-image: url('/images/blogimages/why-vaadin-chose-gitlab-cover.png')" }
                  .title
                    Customer Story: Why Vaadin chose GitLab
            .col-md-4
              %a{ href: '/2016/08/04/moving-to-gitlab-yes-its-worth-it/' }
                .story-card
                  .cover{ style: "background-image: url('/images/community/love-the-sun-gitlab.jpg')" }
                  .title
                    Customer Story: Moving to GitLab! Yes, it's worth it!
          .row    
            .col-md-4
              %a{ href: '/2016/12/15/a-creative-agencys-gitlab-wishlist/' }
                .story-card
                  .cover{ style: "background-image: url('/images/blogimages/a-creative-agencys-gitlab-wishlist.jpg')" }
                  .title
                    Customer Story: A creative agency's GitLab wishlist
            .col-md-4
              %a{ href: '/2016/10/17/gitlab-ci-oohlala' }
                .story-card
                  .cover{ style: "background-image: url('/images/blogimages/gitlab-ci-oohlala-cover.png')" }
                  .title
                    Why We Chose GitLab CI for our CI/CD Solution
            .col-md-4
              %a{ href: '/2016/05/31/customer-story-charge-communications/' }
                .story-card
                  .cover{ style: "background-image: url('/images/blogimages/Charge-customer-story/person-on-phone.jpg')" }
                  .title
                    Customer Story: Charge
          .row    
            .col-md-4
              %a{ href: '/2016/11/22/cognitive-logic-talks-migrating-to-gitlab/' }
                .story-card
                  .cover{ style: "background-image: url('/images/blogimages/data-startup-cognitive-logic-talks-migrating-to-gitlab.jpg')" }
                  .title
                    Customer Story: Data Startup Cognitive Logic Talks Migrating to GitLab
            .col-md-4
              %a{ href: '/2016/07/22/building-our-web-app-on-gitlab-ci/' }
                .story-card
                  .cover{ style: "background-image: url('/images/blogimages/cross-post-gitlab-ci/building-our-web-app-on-gitlab-ci-cover.jpg')" }
                  .title
                    Building our web-app on GitLab CI
