---
layout: job_page
title: "Merge Request Coach"
---

The main goal of a Merge Request Coach is to help [merge requests from the
community] get merged into GitLab.

## Responsibilities

* Go through all merge requests, assign the `Community Contribution` label to merge
  requests coming from the community, and triage them.
* Close merge requests that we don't want, with a clear explanation on the
  reasons why, so that people don't feel discouraged.
* Help contributors to get their merge requests to meet the [contribution acceptance criteria].
* If the contributor is unresponsive or if they are unable to finish it, finish
  their merge request to meet the [contribution acceptance criteria]:
  * Close the original merge request and say that you will finish it,
  * Check out the branch locally,
  * Keep at least one original commit (you can squash commits if there are a lot)
    from the author,
  * Make sure a changelog entry crediting the author exists,
  * Add your own commits to improve and finish the original work and
  * Push to a new branch and open a new merge request.
* Make it easy to contribute to GitLab even for people who are new to Ruby,
  JavaScript, or programming entirely.

[merge requests from the community]: https://gitlab.com/gitlab-org/gitlab-ce/merge_requests?label_name%5B%5D=Community+Contribution
[contribution acceptance criteria]: https://gitlab.com/gitlab-org/gitlab-ce/blob/master/CONTRIBUTING.md#contribution-acceptance-criteria


<%= partial "includes/apply_and_about" %>