---
layout: job_page
title: "Product Marketing Manager: Enterprise Specialist"
---

Do you have experience uncovering a product's core benefits, marketing to an enterprise buyer, or navigating a sales process? Product marketers are at the intersection of all teams.
GitLab is looking for a collaborative and process-driven product marketer to help craft our enterprise story, align to our sales process, and deliver effective go-to-market and sustain campaigns.

The Product Marketing Manager role includes 4 key areas of focus:

* Enterprise-focused product messaging
* Enterprise-focused GTM
* Sales enablement
* Market research

## Responsibilities

* Conduct market research to understand buyer personas, competitive landscape, and other data to help influence marketing, sales, and product decisions.
* Own sales enablement materials and training.
* Work with product and engineering to craft the enterprise story for new and existing features.
* Work with sales, demand generation, and content marketing to create content and campaigns that is geared to our enterprise audience.
* Help technical writing and engineering to create documentation that address audience needs.

## Requirements

* Technical background or clear understanding of developer products.
* 3-5 years of experience in product marketing, preferably with experience in marketing to enterprise companies.
* Able to coordinate across many teams and perform in fast-moving startup environment.
* Excellent spoken and written English
* You share our [values](/handbook/values), and work in accordance with those values.

## Hiring Process

Applicants for this position can expect the hiring process to follow the order below. Please keep in mind that applicants can be declined from the position at any stage of the process. To learn more about someone who may be conducting the interview, find her/his job title on our [team page](/team).

* Qualified applicants will be invited to schedule a [screening call](/handbook/hiring/interviewing/#screening-call) with one of our Global Recruiters.
* Candidates then may be offered a 45 minute interview with our Chief Marketing Officer
* Next, candidates will be invited to schedule a interview with the Senior Director of Marketing and Sales
* Candidates will then be invited to schedule 45 minute interviews with our Regional Sales Director of the US East Coast
* After, candidates may be invited to schedule a 45 minute interview with the Vice President of Product
* Next, candidates will be invited to schedule a interview with the Chief Revenue Officer.
* Finally, our CEO may choose to conduct a final interview.
* Successful candidates will subsequently be made an offer via email.

Additional details about our process can be found on our [hiring page](/handbook/hiring).


<%= partial "includes/apply_and_about" %>
